<h1>Your orders</h1>

<table class="table">
  <tr>
    <th>Airline</th>
    <th>FlightNo</th>
    <th>PlaneType</th>
    <th>LeaveTime</th>
    <th>LeaveCity</th>
    <th>ArriveTime</th>
    <th>ArriveCity</th>
    <th>Price</th>
    <th>Class</th>
    <th>Remark</th>
    <th colspan="2">Handle</th>
  </tr>

  <% @orders.each do |order| %>
    <% flight = order.flight %>
  <tr>
    <td><%= flight.airline %></td>
    <td><%= flight.flight_no %></td>
    <td><%= flight.plane_type %></td>
    <td><%= flight.leave_time.to_formatted_s(:short) %></td>
    <td><%= flight.leave_city %></td>
    <td><%= flight.arrive_time.to_formatted_s(:short) %></td>
    <td><%= flight.arrive_city %></td>
    <td><%= flight.price %></td> 
    <td><%= flight.cabin_class %></td> 
    <td><%= order.remark %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>



</br>
</br>
</br>
</br>
</br>
