<p id="notice"><%= notice %></p>



<h3>Flight Info</h3>

<% if @flight %>
<table class="table">
  <tr>
    <th>Airline</th>
    <th>FlightNo</th>
    <th>PlaneType</th>
    <th>LeaveTime</th>
    <th>LeaveCity</th>
    <th>ArriveTime</th>
    <th>ArriveCity</th>
    <th>Price</th>
    <th>Class</th>
    <th>Remark</th>
  </tr>
  <tr>
    <td><%= @flight.airline %></td>
    <td><%= @flight.flight_no %></td>
    <td><%= @flight.plane_type %></td>
    <td><%= @flight.leave_time %></td>
    <td><%= @flight.leave_city %></td>
    <td><%= @flight.arrive_time %></td>
    <td><%= @flight.arrive_city %></td>
    <td><%= @flight.price %></td> 
    <td><%= @flight.cabin_class %></td> 
    <td><%= @flight.remark %></td>
  </tr>
</table>
<% end %>

<h3>Contact</h3>

<table class="table">
  <tr>
    <th>Contact name</th>
    <th>Contact phone</th>
    <th>Contact email</th>
    <th>Print time</th>
  </tr>
  <tr>
    <td><%= best_in_place @order, :contact_name %></td>
    <td><%= best_in_place @order, :contact_phone %></td>
    <td><%= best_in_place @order, :contact_email %></td>
    <td>
      <% if @order.print_time == 1 %>
        Now
      <% else %>
        Later
      <% end %>
    </td>
</table>

<h3>Passengers</h3>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Cred type</th>
    <th>Cred number</th>
    <th>Number of accident assurance</th>
    <th>Number of delay assurance</th>
  </tr>
  <% @order.passengers.each do |passenger| %>
  <tr>
    <td><%= passenger.name %></td>
    <td><%= passenger.cred_type %></td>
    <td><%= passenger.cred_number %></td>
    <td><%= passenger.accident_number %></td>
    <td><%= passenger.delay_number %></td>
  </tr>
  <% end %>
</table>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
