<p id="notice"><%= notice %></p>

<p>
  <b>Contact name:</b>
  <%= @order.contact_name %>
</p>

<p>
  <b>Contact phone:</b>
  <%= @order.contact_phone %>
</p>

<p>
  <b>Contact email:</b>
  <%= @order.contact_email %>
</p>

<p>
  <b>Print time:</b>
  <%= @order.print_time %>
</p>

<p>
  <b>Flight:</b>
  <%= @order.flight_id %>
</p>

<p>
  <b>Remark:</b>
  <%= @order.remark %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
