<!DOCTYPE html>
<html>
<head>
  <title><%= @title %> | Mrfly</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
    <%= link_to root_path do%>
      <img id="logo" src="/assets/logo.jpg">
    <% end %>
  <div class="navbar navbar-static" id="navbar">
    <div class="navbar-inner">
      <a class="brand">Mrfly</a>
      <ul class="nav">
        <li class="active"><a href="<%= root_path %>">Home</a></li>
        
      </ul>
      <ul class="nav pull-right">
        <li class="dropdown">
        <% if user_signed_in? %>
          <a href="#" id="userDrop" role="button" class="dropdown-toggle" data-toggle="dropdown">
            User
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="userDrop">
            <li><%= link_to "Profile", edit_user_registration_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Orders", orders_path %></li>
          </ul>
          </li>
          <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li>
          <%= link_to "Login", new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div id="loginModal" class="modal hide fade"  tabindex="1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="loginModalLabel">Login</h3>
    </div>
    <div class="modal-body">
      <%= form_tag new_user_session_path, :id => "loginModal" do %>

        <div><%= label_tag :email %><br />
        <%= email_field_tag :'user[email]' %></div>
  
        <div><%= label_tag :password %><br />
        <%= password_field_tag :'user[password]' %></div>

        <div><%= submit_tag "Sign in" %></div>
      <% end %>

    </div>
    <div class="modal-footer">
      <a href="javascript:void(0)" class="btn" data-dismiss="modal">Close</a>
      <a href="javascript:void(0)" class="btn btn-primary">Loggin</a>
    </div>
  </div>
  <div class="navbarContent">
    <%= yield %>
  </div>
</div>
<%= debug(params) %>

</body>
</html>
